footer{ 
    margin-left: 1%; 
}

body {
    background-image: url(Recursos/steam.jpg);
    background-attachment: fixed;/*para que sea estático*/
    background-position: top right;/*arriba a la derecha*/
    background-repeat: no-repeat;/*que no se repita el fondo*/
     margin-top: 60px;
}

.product-small2 {
    width: 230px;
    height: 400px;
    overflow:visible;
    float: left;
    position: relative;
    margin-left: 19px;
    margin-right: 19px;
}

body:not(.ipad) .product-small2:hover {
    border: 3px solid #03FF56;
}

#boton_detalle{
    color: green;
}

.modal-header,h1,.close{
	background-color:#5cb85c;
	color:white;
	text-align:center;
	font-size:30px;
}

.modal-footer{
	background-color: #f9f9f9;
}

img{
    border-radius: 6px;
}

.dropdown-toggle:focus {
    outline: 0;
}


* {
    margin:0px;
	padding:0px;
}
			
#header {
	margin:auto;
	width:500px;
	font-family:Arial, Helvetica, sans-serif;
}
			
ul, ol {
	list-style:none;
}
			
.nav > li {
	float:left;
}
			
    .nav li a {
		background-color:#222;
		color:#fff;
		text-decoration:none;
		padding:15px 12px;
		display:block;
	}
			
			.nav li a:hover {
				background-color: #000;
                
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;
			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			.nav li ul li {
				position:relative;
			}
			
			.nav li ul li ul {
				right:-140px;
				top:0px;
			}

.bs-example {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bs-example {
    position: relative;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
    box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.bs-example:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#registrar-modal .modal-dialog{
	width: 600px;
	height:800px;
}


  #izquierda{ 
    background-image: url(Recursos/relieve.jpg);
    background-attachment: fixed;/*para que sea estático*/
    background-position: top right;/*arriba a la derecha*/
    width:800px; 
    margin:20px; 
	padding-top: 5px;
} 

#derecha{ 
    background-image: url(Recursos/relieve.jpg);
    background-attachment: fixed;/*para que sea estático*/
    background-position: top right;/*arriba a la derecha*/
    width:200px; 
    margin:20px; 
} 


/*PAgos*/

h5{
position:absolute;
border-color: #e5e5e5 #eee #eee;
font-size:20px;
	top: 60px;
	left: 30px;

}
#lblFechaV{
	position:absolute;
	top: 194px;
	left: 275px;
}
#mesVencimiento{
	position:absolute;
	top: 25px;
	left: 40px;
	width:64px;
}
#yearVencimiento{
	position:absolute;
	top: 25px;
	left: 5px;
	width:80px;
}
#codigoSegu{
	width:70px;
}
h6{
position:relative;
border-color: #e5e5e5 #eee #eee;
font-size:20px;
	top: 0px;
	left: 0px;

}

#lblArticulos{
	position:relative;
	top: 5px;
	left: 80px;


}
#lblPrecio{
	position:relative;
	top: 5px;
	left: 330px;


}

#lblPreciojg{
	position:relative;
	top: 5px;
	left: 150px;

}

#lblCorreo{
	position:relative;
	top: 5px;
	left: 240px;
}

#lblFechaCreado{
	position:relative;
	top: 5px;
	left: 245px;
}

#main_biblioteca{
    background-image: url(Recursos/fondo_gris.jpg);
    background-attachment: fixed;/*para que sea estático*/
    background-position: top right;/*arriba a la derecha*/
    margin-top: 60px;
    margin-left: 80px;
}
